.dropdown{
    text-align: center;
}

/*change the background color of the header here, so it matches your company*/
.jumbotron {
    background-color: #6446aa;
}

.forside{
    color: white !important;
}

.buttonContainer{
    text-align: center;
}

.senestSpillede{
    text-align: center;
}

.buttonCenter{
    text-align: center;
    margin-top: 1%;

}

.footerBar{
    background-color: #6446aa;
    color: white;
    padding-top: 0.5%;
    text-align: center;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.deleteBtn{
    margin-top: 3%;
}

.btnBack{
    margin-bottom: 2%;
}

.tableButton{
    margin-top: 1%;
    margin-bottom: 5%;

}

.companyName{
    text-align: center;
    font-size: 20px;
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #6446aa;
    color: white;
}

.theadClass{
    text-align: center;
}

.buttonLeft{
    text-align: left;
    margin-top: 1%;
}

.buttonRight{
    text-align: right;
    margin-top: 1%;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(/assets/images/asc.gif);
    background-color: #6446aa;
    background-position: right;
}

table.tablesorter thead tr .headerSortDown{
    background-image: url(/assets/images/desc.gif);
    background-color: #6446aa;
    background-position: right;
}

.header {
    background-image: url(/assets/images/bg.gif);
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: -1px;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #6446aa;
    color: white;
}

.logIn{
    margin-top: 15px;
}

.registrer{
    margin-top: -15px;
}

.control{
    margin-bottom: 15px;
}

.form-signup {
    max-width: 330px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
}

.form-signin{
    text-align: center;
}

.imgPil{
    position: relative;
    left: 49%;
    margin-top: 1%;
}

.tabelNyt {
    float: right;
    position: relative;
    bottom: 15px;
}

.out{
    color: white;
    font-weight: bold;
}

.tabel{
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 1 0px; 
    max-width: 100px;
}

.tabelDiv{
    margin-bottom: 100px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: none !important;
}